<div class="category-header mt-5">
  <h2>My Cart</h2>
</div>

<div class="container ">
  <table class="table ">
    <thead class=" thead table-dark">
      <tr>
        <th scope="col">ITEM DESCRIPTION</th>
        <th scope="col">UNIT PRICE</th>
        <th scope="col">QUANTITY</th>
        <th scope="col">SUBTOTAL</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let category of categoryToShow">
  
    <tr class="table-secondary" *ngIf="productByCategory[category].length != 0" >
      <td  colspan="5" >
        <div class="col-md-12 d-flex background"  >
        <span>{{ category }}</span>
        <span>{{ productByCategory[category].length }} items</span>
        <span>{{ productByCategory[category].totalPrice |currency }} </span>
      </div>
    </td>
    </tr>
      <tr *ngFor="let product of productByCategory[category]">
        <td >
          <div class="row m-0 p-0">
            {{ product.shop }}
          </div>
          <div class="row m-0 p-0">
            <b>{{ product.grocery_name }}</b>
          </div>
        </td>
        <td>
          <div class="row m-0 p-0">
            <b><span class="green"
              >{{ product.discPrice | currency }} &nbsp;<span
                class="original-price"
                [style.text-decoration]="
                  product.discPrice ? 'line-through' : 'none'
                "
              >
                {{ product.price | currency }}
              </span></span
            ></b>
          </div>
        </td>
        <td>
          <div>
            <span
            ><i class="fa-solid fa-minus" (click)="minus(product)"></i
          ></span>
          <input
              type="text"
              id="number"
              class="number"
              name="number"
              value="{{ product.quantityCount }}"
              disabled
          />
          <span class="quantity"
          ><i class="fa-solid fa-plus" (click)="plus(product)"></i
        ></span>  
          </div>
        </td>
        <td>{{ product.subtotal | currency }}</td>
        <td><i
          class="fa-solid fa-xmark fa-xl"
          (click)="removeProduct(product)"
        ></i
      ></td>
      </tr>
    </tbody>
  </table>
  <div class="container box">
    <div class="d-flex justify-content-end size">
      <div class="d-flex checkout">
        <span>Sub Total:</span>
        <span>Delivery Charges:</span>
        <hr />
        <span>TOTAL</span>
      </div>
      <div class="checkout">
        <span>{{ finalSubTotal | currency }}</span>
        <span>**</span>
        <hr />
        <span>{{ finalSubTotal | currency }}</span>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-success" (click)="routeToCheckout()">
        Checkout
      </button>
    </div>
  

