<div class="category-header mt-5">
  <h2>My Cart</h2>
</div>
<!-- {{cartArray[0].price}} -->
<!-- <div class="container">
    <div class="row "  >
        <div class="col-md-6 mt-5" *ngFor="let product of cartArray" >
            <div class="col-md-5">
                <img class=" width border" src={{product.imageUrl}} alt="">
            </div>
            <div class="col-md-5">
                <div class="d-flex product-name">
                    <h3>{{product.grocery_name}}</h3>
                    <i class="fa-solid fa-xmark fa-xl" (click)="removeProduct(product.id)"></i>
                </div>  
        <div>
            <span class="color">{{product.quantity}}</span>
        </div>
        <div class="d-flex product-name mt-4">
            <div class="col ">
                <span ><i class="fa-solid fa-minus" (click)="minus(product)"></i></span>
                <span class="quantity"><input type="text" id="number" class="number" name="number" value="{{product.quantityCount}}" disabled></span>
                <span class="quantity"><i class="fa-solid fa-plus" (click)="plus(product)"></i></span>
            </div>
            <span class="green">{{product.subtotal | currency}}</span>
    </div>
    <hr class="mt-4 ">
</div>
</div>
<div class="checkout col-md-5 d-flex justify-content-evenly">
    <div class="justify-content-evenly mt-5">
        <div>
            <h2>Sub-total</h2>
        </div>
        <div>
            <h2>GST</h2>
        </div>
        <div>
            <h2>Grand-total</h2>
        </div>
    </div>
    <div class=" mt-5">
        
        <div>
            <h2>{{finalSubTotal | currency}}</h2>
        </div>
        <div>
            <h2>{{ GST | currency}}</h2>
        </div>
        <div>
            <h2>{{total | currency}}</h2>
        </div>
    </div>
</div>
<div class="d-flex justify-content-end">
    <button class="btn btn-success" (click)="routeToCheckout()">Checkout</button>
</div>
</div>
</div> -->
<!-- <table class="table container w-75 table-hover mt-5">
    <thead class="table-dark">
      <tr>
        <th scope="col">ITEM DESCRIPTION</th>   
        <th scope="col">UNIT PRICE</th>
        <th scope="col">QUANTITY</th>
        <th scope="col">SUBTOTAL</th>
      </tr>
    </thead>
    <tbody >
        <tr class="backColor">
            Fruits and vegetables 
        </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table> -->

<!-- <table class="container w-75">
  <div class="row">
    <div class="col-md-5">ITEM DESCRIPTION</div>
    <div class="col-md-3">UNIT PRICE</div>
    <div class="col-md-2">QUANTITY</div>
    <div class="col-md-2">SUBTOTAL</div>
  </div>
  <div *ngFor="let category of categoryToShow">
    <div class="row">
      <div class="col-md-12 d-flex background" [ngClass]="productByCategory[category].length!==0 ? 'd-block' : 'd-none'" >
        <span>{{ category }}</span>
        <span>{{ productByCategory[category].length }} items</span>
        <span>{{ productByCategory[category].totalPrice |currency }} </span>
      </div>
      <div class="d-flex" *ngFor="let product of productByCategory[category]">
        <div class="col-md-5 products">
          <small>{{ product.shop }}</small>
          <span class="mt-0"> {{ product.grocery_name }}</span>
        </div>
        <div class="col-md-3 products">
          <span class="green"
            >{{ product.discPrice | currency }} &nbsp;<span
              class="original-price"
              [style.text-decoration]="
                product.discPrice ? 'line-through' : 'none'
              "
            >
              {{ product.price | currency }}
            </span></span
          >
        </div>
        <div class="col-md-2">
          <span
            ><i class="fa-solid fa-minus" (click)="minus(product)"></i
          ></span>
          <span class="quantity"
            ><input
              type="text"
              id="number"
              class="number"
              name="number"
              value="{{ product.quantityCount }}"
              disabled
          /></span>
          <span class="quantity"
            ><i class="fa-solid fa-plus" (click)="plus(product)"></i
          ></span>
        </div>
        <div class="col-md-2 d-flex justify-content-between">
          <span>{{ product.subtotal | currency }}</span>
          <span
            ><i
              class="fa-solid fa-xmark fa-xl"
              (click)="removeProduct(product)"
            ></i
          ></span>
        </div>
      </div>
    </div>
  </div>
</table>
<div class="container box">
  <div class="d-flex justify-content-end size">
    <div class="d-flex checkout">
      <span>Sub Total:</span>
      <span>Delivery Charges:</span>
      <hr />
      <span>TOTAL</span>
    </div>
    <div class="checkout">
      <span>{{ finalSubTotal | currency }}</span>
      <span>**</span>
      <hr />
      <span>{{ finalSubTotal | currency }}</span>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button class="btn btn-success" (click)="routeToCheckout()">
      Checkout
    </button>
  </div>
</div> -->
<div class="container ">
  <table class="table ">
    <thead class=" thead table-dark">
      <tr>
        <th scope="col">ITEM DESCRIPTION</th>
        <th scope="col">UNIT PRICE</th>
        <th scope="col">QUANTITY</th>
        <th scope="col">SUBTOTAL</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let category of categoryToShow">
  
    <tr class="table-secondary">
      <td  colspan="5">
        <div class="col-md-12 d-flex background" [ngClass]="productByCategory[category].length!==0 ? 'd-block' : 'd-none'" >
        <span>{{ category }}</span>
        <span>{{ productByCategory[category].length }} items</span>
        <span>{{ productByCategory[category].totalPrice |currency }} </span>
      </div>
    </td>
    </tr>
      <tr  *ngFor="let product of productByCategory[category]">
  
        <td >
          <div class="row m-0 p-0">
            {{ product.shop }}
          </div>
          <div class="row m-0 p-0">
            <b>{{ product.grocery_name }}</b>
          </div>
        </td>
        <td>
          <div class="row m-0 p-0">
            <b><span class="green"
              >{{ product.discPrice | currency }} &nbsp;<span
                class="original-price"
                [style.text-decoration]="
                  product.discPrice ? 'line-through' : 'none'
                "
              >
                {{ product.price | currency }}
              </span></span
            ></b>
          </div>
        </td>
        <td>
          <div>
            <span
            ><i class="fa-solid fa-minus" (click)="minus(product)"></i
          ></span>
          <input
              type="text"
              id="number"
              class="number"
              name="number"
              value="{{ product.quantityCount }}"
              disabled
          />
          <span class="quantity"
          ><i class="fa-solid fa-plus" (click)="plus(product)"></i
        ></span>  
          </div>
        </td>
        <td>{{ product.subtotal | currency }}</td>
        <td><i
          class="fa-solid fa-xmark fa-xl"
          (click)="removeProduct(product)"
        ></i
      ></td>
      </tr>
    </tbody>
  </table>
  <div class="container box">
    <div class="d-flex justify-content-end size">
      <div class="d-flex checkout">
        <span>Sub Total:</span>
        <span>Delivery Charges:</span>
        <hr />
        <span>TOTAL</span>
      </div>
      <div class="checkout">
        <span>{{ finalSubTotal | currency }}</span>
        <span>**</span>
        <hr />
        <span>{{ finalSubTotal | currency }}</span>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-success" (click)="routeToCheckout()">
        Checkout
      </button>
    </div>
  

